body{
    font-family: "Roboto Slab", serif;
    background-color: rgb(219, 219, 91);
    margin: 0px;
}

.Navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(221, 177, 20); /* Add some color to the navigation */
    padding: 10px;
}

.Navigation .Name {
    margin-right: auto; /*This will push the other links to the right*/
    color: white; /* Optional: styling for the text */
    font-size: 20px;
}

.Navigation a {
    color: white; /* Make the text inside the links white */
    padding: 0 15px; /* Add some spacing between the links */
    text-decoration: none; /* Remove the underline from the links */
}

.Navigation a:hover {
    background-color: rgb(202, 160, 33); /* Optional: Change background on hover */
}

.Town{
    text-align: center;
    justify-content: center;
}
.Desc{
    padding-left: 4rem;
    padding-right: 4rem;
    text-align: center;
    margin-top: 50px;
}

.Darjo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; /* Adjust the width as needed */
}

.hist{
    text-align: center;
}

.yapp{
    border-radius: 20px;
    background-color: rgb(238, 241, 81);
    width: auto;
}

.textt{
    text-align: center;
}